.titulo {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: -0.5px;
}

.logo {
    height: 48px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.containerLogoETitulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}